<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PCCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <PCCI.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>63.145.247.32</value>
            </setting>
            <setting name="ServerUserName" serializeAs="String">
                <value>twinpod44</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>44twinpod</value>
            </setting>
            <setting name="ServiceSourceName" serializeAs="String">
                <value>PCCIReportsService</value>
            </setting>
            <setting name="OrgName" serializeAs="String">
                <value>conv</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </PCCI.Properties.Settings>
    </userSettings>
</configuration>
